@import "../../App.scss";
@import "@material/react-icon-button/index.scss";
@import "@material/react-material-icon/index.scss";
@import "@material/react-fab/index.scss";

.mdc-fab {
  @include mdc-fab-container-color(#ffffff);
  @include mdc-fab-ink-color(#ffffff);
  @include mdc-ripple-surface;
  @include mdc-states-base-color(#ffffff);
  &:focus {
    background-color: #ffffff;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: rotate(0deg) scale(0.4);
    transform: rotate(0deg) scale(0.4);
  }

  25% {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transform: rotate(180deg) scale(0.8);
    transform: rotate(180deg) scale(0.8);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }

  75% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: rotate(0deg) scale(0.4);
    -moz-transform: rotate(0deg) scale(0.4);
    -o-transform: rotate(0deg) scale(0.4);
    transform: rotate(0deg) scale(0.4);
  }

  25% {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transform: rotate(180deg) scale(0.8);
    -moz-transform: rotate(180deg) scale(0.8);
    -o-transform: rotate(180deg) scale(0.8);
    transform: rotate(180deg) scale(0.8);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(1);
    -moz-transform: rotate(180deg) scale(1);
    -o-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }

  75% {
    -webkit-transform: rotate(360deg) scale(1);
    -moz-transform: rotate(360deg) scale(1);
    -o-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// SVG fill color
.cls-1 {
  fill: #bc96b4;
}

@-webkit-keyframes fill {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
    opacity: 0.5;
  }

  50% {
    height: 100%;
    opacity: 1;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-moz-keyframes fill {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
    opacity: 0.5;
  }

  50% {
    height: 100%;
    opacity: 1;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-o-keyframes fill {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
    opacity: 0.5;
  }

  50% {
    height: 100%;
    opacity: 1;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@keyframes fill {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
    opacity: 0.5;
  }

  50% {
    height: 100%;
    opacity: 1;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

#loader-page {
  width: 100vw;
  height: 100vh;
  background: rgb(255, 247, 247);
  background: radial-gradient(
    circle,
    rgba(255, 247, 247, 1) 0%,
    rgba(202, 163, 217, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: fixed;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#preloader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--preloader-icon-box);
  -webkit-animation: loader 2s infinite alternate ease-in;
  -moz-animation: loader 2s infinite alternate ease-in;
  -o-animation: loader 2s infinite alternate ease-in;
  animation: loader 2s infinite alternate ease-in;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.loader-fill {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--preloader-icon-fill);
  -webkit-animation: fill 2s infinite ease-in;
  -moz-animation: fill 2s infinite ease-in;
  -o-animation: fill 2s infinite ease-in;
  animation: fill 2s infinite ease-in;
  opacity: 0;
}

.logo {
  top: 38px;
  left: 4%;
  z-index: 2;
  position: fixed;
}

.hamburger-menu {
  position: fixed;
  display: inline-block;
}

/* main wrapper */

.main-wrapper {
  width: 100%;
  padding: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.content-center-align {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* height */

.heightfull {
  height: 100vh;
}

/* alignment */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* graphic */

.graphic {
  max-width: 600px;
  margin: 48px auto;
}

/* background */

.background-image-holder {
  position: relative;
}

.bg-animated {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease,
    -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: opacity 0.4s ease,
    -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: opacity 0.4s ease,
    -o-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    opacity 0.4s ease, -moz-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.4s ease;
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.4s ease,
    -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    -moz-transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    -o-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
}

/* reset */

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.hamburger-menu {
  top: 28px;
  right: 4%;
  height: 44px;
  width: 44px;
  z-index: 5;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 9;
}

.hamburger-menu .menu-icon {
  /* icon created in CSS */
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  width: 22px;
  height: 3px;
  background-color: var(--menu-color-icon-active);
  z-index: 10;
}

.hamburger-menu .menu-icon::before,
.hamburger-menu .menu-icon:after {
  /* upper and lower lines of the menu icon */
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--menu-color-icon-active);
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* apply transition to transform property */
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -moz-transition: transform 0.3s, -moz-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s,
    -o-transform 0.3s;
}

.hamburger-menu .menu-icon::before {
  -webkit-transform: translateY(-6px) rotate(0deg);
  -moz-transform: translateY(-6px) rotate(0deg);
  -ms-transform: translateY(-6px) rotate(0deg);
  -o-transform: translateY(-6px) rotate(0deg);
  transform: translateY(-6px) rotate(0deg);
}

.hamburger-menu .menu-icon::after {
  -webkit-transform: translateY(6px) rotate(0deg);
  -moz-transform: translateY(6px) rotate(0deg);
  -ms-transform: translateY(6px) rotate(0deg);
  -o-transform: translateY(6px) rotate(0deg);
  transform: translateY(6px) rotate(0deg);
}

.hamburger-menu::before,
.hamburger-menu::after {
  /* 2 rounded colored backgrounds for the menu icon */
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: -o-transform;
  -moz-transition-property: transform, -moz-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform, -moz-transform,
    -o-transform;
}

.hamburger-menu::before {
  background-color: var(--menu-color-default);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.hamburger-menu::after {
  background-color: var(--menu-color-active);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.hamburger-menu.close-nav::before {
  /* user clicks on the .hamburger-menu element - 1st rounded background disappears */
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.hamburger-menu.close-nav::after {
  /* user clicks on the .hamburger-menu element - 2nd rounded background appears */
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.hamburger-menu.close-nav .menu-icon {
  /* user clicks on the .hamburger-menu element - transform the icon */
  background-color: rgba(255, 255, 255, 0);
}

.hamburger-menu.close-nav .menu-icon::before,
.hamburger-menu.close-nav .menu-icon::after {
  background-color: var(--menu-color-icon);
}

.hamburger-menu.close-nav .menu-icon::before {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

.hamburger-menu.close-nav .menu-icon::after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

.nav-overlap::after,
.nav-overlap span::after,
.content-overlap::after,
.content-overlap span::after,
.hamburger-menu::after,
.menu-icon::after,
.nav-overlap::before,
.nav-overlap span::before,
.content-overlap::before,
.content-overlap span::before,
.hamburger-menu::before,
.menu-icon::before {
  content: "";
}

.primary-nav {
  /* by default it's hidden */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background: radial-gradient(
    circle,
    rgba(255, 247, 247, 1) 0%,
    rgba(202, 163, 217, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.3s, opacity 0.3s,
    -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: visibility 0.3s, opacity 0.3s,
    -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: visibility 0.3s, opacity 0.3s,
    -o-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: visibility 0.3s, opacity 0.3s,
    transform 0.5s cubic-bezier(0.77, 0, 0.175, 1),
    -moz-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: visibility 0.3s, opacity 0.3s,
    transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: visibility 0.3s, opacity 0.3s,
    transform 0.5s cubic-bezier(0.77, 0, 0.175, 1),
    -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1),
    -moz-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1),
    -o-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.primary-nav.fade-in {
  /* navigation visible at the end of the circle animation */
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.3s, opacity 0.3s,
    -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: visibility 0.3s, opacity 0.3s,
    -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: visibility 0.3s, opacity 0.3s,
    -o-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: visibility 0.3s, opacity 0.3s,
    transform 0.5s cubic-bezier(0.77, 0, 0.175, 1),
    -moz-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: visibility 0.3s, opacity 0.3s,
    transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: visibility 0.3s, opacity 0.3s,
    transform 0.5s cubic-bezier(0.77, 0, 0.175, 1),
    -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1),
    -moz-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1),
    -o-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.nav-overlap,
.content-overlap {
  /* containers of the 2 main rounded backgrounds - these containers are used to position the rounded bgs behind the menu icon */
  position: fixed;
  top: 28px;
  right: 5%;
  height: 4px;
  width: 4px;
  -webkit-transform: translateX(-20px) translateY(20px);
  -moz-transform: translateX(-20px) translateY(20px);
  -ms-transform: translateX(-20px) translateY(20px);
  -o-transform: translateX(-20px) translateY(20px);
  transform: translateX(-20px) translateY(20px);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: -o-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    -moz-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    -moz-transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    -o-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.nav-overlap span,
.content-overlap span {
  display: inline-block;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s,
    -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: opacity 0.3s 0s, visibility 0s 0.3s,
    -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: opacity 0.3s 0s, visibility 0s 0.3s,
    -o-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s,
    transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    -moz-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: opacity 0.3s 0s, visibility 0s 0.3s,
    transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: opacity 0.3s 0s, visibility 0s 0.3s,
    transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    -moz-transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    -o-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.nav-overlap.is-hidden,
.content-overlap.is-hidden {
  /* background fades out at the end of the animation */
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s,
    -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: opacity 0.3s 0s, visibility 0s 0.3s,
    -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: opacity 0.3s 0s, visibility 0s 0.3s,
    -o-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s,
    transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    -moz-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: opacity 0.3s 0s, visibility 0s 0.3s,
    transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: opacity 0.3s 0s, visibility 0s 0.3s,
    transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    -moz-transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    -o-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.nav-overlap {
  /* main rounded colored bg 1 */
  z-index: 2;
}

.nav-overlap span {
  background-color: var(--menu-color-background);
}

.content-overlap {
  /* main rounded colored bg 2 */
  z-index: 4;
}

.content-overlap span {
  background-color: var(--menu-color-background-active);
}

/* custom */

.menu-content {
  width: 100%;
  padding: 48px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

/* avatar */

.avatar {
  position: relative;
  text-align: center;
}

.avatar-pic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 32px;
}

.avatar-pic img {
  width: 64px;
  height: 64px;
}

.avatar-profile {
  margin-bottom: 24px;
}

.avatar-profile h3 {
  letter-spacing: -2px;
  margin-bottom: 8px;
}

.avatar-profile p {
  font-size: var(--text-body);
  color: var(--color-light);
}

.body-content {
  max-width: 800px;
  margin: 0 auto;
}

/* form */

.form {
  position: relative;
  width: 380px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

.form__input {
  border: 0;
  outline: 0;
  height: 54px;
  padding: 12px 125px 12px 16px;
  font-size: var(--text-body);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 380px;
  -webkit-box-shadow: 0 1.5px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1.5px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5px 2px 2px rgba(0, 0, 0, 0.1);
}

.form__input:focus {
  -webkit-box-shadow: var(--form-focus-shadow);
  -moz-box-shadow: var(--form-focus-shadow);
  box-shadow: var(--form-focus-shadow);
}

.form__input::-webkit-input-placeholder {
  color: var(--color-light);
}

.form__input:-moz-placeholder {
  color: var(--color-light);
}

.form__input::-moz-placeholder {
  color: var(--color-light);
}

.form__input:-ms-input-placeholder {
  color: var(--color-light);
}

.form__input::-ms-input-placeholder {
  color: var(--color-light);
}

.form__input::placeholder {
  color: var(--color-light);
}

.submit-btn {
  position: absolute;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: #ffffff;
  right: 0;
  padding: 0 16px;
  cursor: pointer;
  border: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  height: 100%;
  vertical-align: middle;
  background: var(--link-color-hover);
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}

.submit-btn {
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -ms-transform: translateX(25px);
  -o-transform: translateX(25px);
  transform: translateX(25px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.submit-btn.visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

/* border-radius */

.radius-circle {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
}

.radius-light {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.radius-medium {
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}

.radius-high {
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  border-radius: 48px;
}

/* shadow */

.shadow-light {
  -webkit-box-shadow: 0 40px 120px rgba(0, 0, 0, 0.11),
    0 20px 24px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 40px 120px rgba(0, 0, 0, 0.11),
    0 20px 24px rgba(0, 0, 0, 0.1);
  box-shadow: 0 40px 120px rgba(0, 0, 0, 0.11), 0 20px 24px rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
  h1 {
    font-size: var(--ms-large-6);
  }
  h2 {
    font-size: var(--ms-large-5);
  }
  h3 {
    font-size: var(--ms-large-4);
  }
  h4 {
    font-size: var(--ms-large-3);
  }
  h5 {
    font-size: var(--ms-large-2);
  }
  h6 {
    font-size: var(--ms-large-1);
  }
  .big-title {
    font-size: var(--big-title-desktop);
  }
  .avatar-pic img {
    width: 200px;
    height: 200px;
  }
}
