@import "@material/react-layout-grid/index.scss";
@import "@material/react-typography/index.scss";
@import "materialize-css/sass/materialize.scss";

$mdc-typography-font-family: "Raleway";
@import "@material/react-typography/index.scss";

body,
html {
  background: rgb(255, 255, 255);
  height: 100%;
}
