body {
  margin: 0 3rem;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(255, 247, 247);
  background: radial-gradient(
    circle,
    rgba(255, 247, 247, 1) 0%,
    rgba(202, 163, 217, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
